# 1. Maven Output
# Ignore the directory where compiled classes and JARs are stored
/target/

# 2. IntelliJ IDEA Files
# Ignore the hidden folder containing workspace settings and history
.idea/

# Ignore local project files created by IntelliJ
*.iml
*.ipr

# 3. Operating System Files
# Ignore files created by macOS and Windows File Explorer
.DS_Store
Thumbs.db